{% extends "quotes/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>All Quotes</h1>
<div class="row">
    {% for quote in quotes %}
        <div class="col-md-4">
            <blockquote class="blockquote">
                <p class="mb-0">{{ quote.text }}</p>
                <footer class="blockquote-footer">
                    <a href="{% url 'author-detail' quote.author.id %}">{{ quote.author.fullname }}</a>
                </footer>
                <small>Tags: {{ quote.tags }}</small>
            </blockquote>
        </div>
    {% endfor %}
</div>
{% endblock %}
